{
  "trailingComma": "all",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
